/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Btn............................Buttons style
 * Slider.........................Slider style
 * Card...........................Cards style
 *
 * MAIN CONTENT
 * Header.........................Modify header style
 * Hero...........................Hero styles
 * Client.........................Client style
 * About..........................About style
 * Skills.........................Skills style
 * Cta............................Cta style
 * Testimonials...................Testimonials style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url("./components/btn.css");
@import url("./components/slider.css");
@import url("./components/card.css");





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header { background-color: transparent; }

.header.active { background-color: var(--white); }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
  text-align: center;
  overflow: hidden;
}



.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 70%;
  right: -75%;
  background-color: var(--maximum-yellow-red_a40);
  transform: rotate(-45deg);
  border-radius: var(--radius-50);
  z-index: -1;
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-subtitle {
  color: var(--jet);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 3px;
  margin-block-end: 20px;
}

.hero-text { margin-block: 25px; }

.hero .btn { margin-inline: auto; }

.hero-banner {
  max-width: max-content;
  margin-inline: auto;
}





/*-----------------------------------*\
  #CLIENT
\*-----------------------------------*/

.client {
  background-color: var(--jet);
  padding-block: 30px;
}

.client .slider-item { 
  min-width: calc(50% - 15px);
}

.client .slider-item img{
  width: 30%;
  height: 30%;
}

.client .slider::-webkit-scrollbar { display: none; }

/*-----------------------------------*\
  #game 1
\*-----------------------------------*/
.wrappers {
  width: 90vmin;
  height: 80vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #293447;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.game-details {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background: #FF003D;
}

.play-board .head {
  background: #60CBFF;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #B8C6DC;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171B26;
}

@media screen and (max-width: 800px) {
  .wrappers {
    width: 90vmin;
    height: 115vmin;
  }

  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }

  .controls {
    display: flex;
  }

  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}

/*-----------------------------------*\
  #game 2
\*-----------------------------------*/

.containers {
  width: 90vmin;
  height: 80vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 7rem;
  border-radius: 14px;
  background: #212837;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.result_images {
  display: flex;
  column-gap: 7rem;
  align-items: center;
  justify-content: center;
}

.containers.start .user_result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.containers.start .computers_result {
  transform-origin: right;
  animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

.result_images img {
  width: 100px;
}

.user_result img {
  transform: rotate(90deg);
}

.computers_result img {
  transform: rotate(-90deg) rotateY(180deg);
}

.result {
  text-align: center;
  font-size: 2rem;
  color: #7d2ae8;
  margin-top: 1.5rem;
}

.option_image img {
  width: 50px;
}

.option_images {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.containers.start .option_images {
  pointer-events: none;
}

.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.option_image:hover {
  opacity: 1;
}

.option_image.active {
  opacity: 1;
}

.option_image img {
  pointer-events: none;
}

.option_image p {
  color: #7d2ae8;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}


/*-----------------------------------*\
  #game 3
\*-----------------------------------*/

.game3{
  font-family: 'Pacifico';
  width: 90vmin;
    height: 80vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
  display: flex;
  justify-content: center;
}

canvas {
  border: 1x solid #0a3cda;
  margin: 10px;
}

/*-----------------------------------*\
  #game 4
\*-----------------------------------*/

#container {
  text-align: center;
}

.padd {
  font-size: 5.6rem;
  font-family: 'Water Brush', cursive;
}

table {
  border-collapse: collapse;
  font-size: 2em;
  margin: 0 auto;
}

colgroup,
tbody {
  border: solid medium;
}

td {
  border: solid thin;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0;
}

.btns {
  display: flex;
  text-align: center;
  justify-content: center;
}

button {
  margin-top: 15px;
  font-size: 1.5em;
  background-color: #A288E3;
  color: white;
  margin-left: 5px;
  border: #A288E3;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  color: #A288E3;
  background-color: white;
  outline: #A288E3;
  transition: all 1s ease;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .padd {
    font-size: 4.2rem;
  }

  table {
    font-size: 1.5em;
  }

  button {
    font-size: 1rem;
  }
}

/*-----------------------------------*\
  #game 5
\*-----------------------------------*/


svg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

span {
  color: white;
  font-family: sans-serif;
  opacity: .3;
}



/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-text { margin-block: 25px 16px; }

.about-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.about-list .list-text {
  color: var(--jet);
  font-weight: var(--fw-500);
}

.about-list .strong {
  color: var(--orange-red);
  display: block;
}

.about .wrapper {
  margin-block-start: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 25px;
}





/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skill { 
  padding-block-end: 0;
  margin-bottom: 20px;
}

.skill .container,
.skill-list { display: grid; }

.skill .container { gap: 50px; }

.skill-list {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.skill .card ion-icon { font-size: 3rem; }

.skill .card .card-title {
  color: var(--jet);
  font-size: 1.6rem;
  font-weight: var(--fw-500);
}





/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background-color: var(--jet);
  text-align: center;
  padding-block: 46px 50px;
}

.cta .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cta .title-lg {
  color: var(--white);
  font-weight: var(--fw-500);
}





/*-----------------------------------*\
  #TESTIMONIALS
\*-----------------------------------*/

.testi .slider-item {
  min-width: 100%;
  scroll-margin-inline-start: 16px;
}

.testi .card {
  position: relative;
  z-index: 1;
}

.testi .card::after {
  content: url("../images/quote-left.svg");
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.testi .client-name {
  margin-block-start: 15px;
  color: var(--jet);
  font-weight: var(--fw-600);
}

.testi .client-title { font-size: var(--fs-14); }

.testi .slider {
  margin-inline: -16px;
  padding-inline: 16px;
  padding-block-end: 35px;
}

.testi .slider::-webkit-scrollbar { height: 12px; }

.testi .slider::-webkit-scrollbar-track {
  border: 1px solid var(--jet);
  border-radius: var(--radius-pill);
}

.testi .slider::-webkit-scrollbar-thumb {
  background-color: var(--jet);
  border-radius: var(--radius-pill);
}

.testi .slider::-webkit-scrollbar-button { width: calc(25% - 20px); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CLIENT, ABOUT & SKILL
   */

  .client .slider-item { min-width: calc(33.33% - 20px); }

  .client .slider-item .w-100,
  .about-banner,
  .skill-banner {
    max-width: max-content;
    margin-inline: auto;
  }



  /**
   * CTA
   */

  .cta .container { justify-content: space-between; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * HERO
   */

  .hero-text { --fs-18: 2rem; }

  .hero::after {
    top: -20%;
    bottom: 50%;
    left: 48%;
    right: -15%;
  }



  /**
   * CLIENT
   */

  .client .slider-item { min-width: calc(25% - 22.5px); }



  /**
   * TESTIMONIALS
   */

  .testi .slider-item { min-width: calc(50% - 15px); }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * HERO, ABOUT, SKILL
   */

  :is(.hero, .about, .skill) .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



  /**
   * HERO
   */

  .hero { text-align: left; }

  .hero .btn { margin-inline: 0; }



  /**
   * CLIENT
   */

  .client .slider-item { min-width: calc(20% - 24px); }



  /**
   * SKILL
   */

  .skill .container { align-items: flex-start; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * ABOUT
   */

  .about-list { gap: 40px; }

}